.big-button {
  background-color: $purple;
  border: none;
  border-bottom: 0.6rem solid darken($purple, 10%);
  color: white;
  font-weight: bold;
  font-size: $l-size;
  max-width: 100%;
  padding: $m-size 0;
  width: 100%;
  margin-bottom: $xl-size;
  cursor: pointer;
}

.big-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button {
  background-color: $purple;
  border: none;
  border-bottom: 0.3rem solid darken($purple, 10%);
  color: white;
  font-weight: 500;
  padding: $s-size;
}

.button--link {
  background: none;
  border: none;
  color: $off-white;
  padding: 0;
}
