html {
  font-size: 62.5%;
}
body {
  font-family: Helvetica, Arial, Helvetica, sans-serif;
  font-size: $m-size;
}

.button {
  cursor: pointer;
}
.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.is-active {
  font-weight: bold;
}
